.App {
  background: rgba(101, 134, 187, 0.97);
  margin: 0 auto;
  min-height: 100vh;
  width: 75vw;  
}

.header {
  text-align: center;
  padding-top: 15px;
}

.header-title {
  font-size: 30px;
}

.select {
  margin-top: 25px;
  width: 150px;
  height: 25px;
}

.select-item {
  width: 150px;
  height: 25px;
}

.aside{
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  font-size: 30px;
  font-weight: normal;
  padding: 5px 25px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 6px;
  text-align: center;
  flex-grow: 1;
  background: rgba(101, 134, 187, 0.85);;
}

.list-item-value {
  margin-left: 5px;
}
